/* CSS for website */

.ulist ul {
	line-height: 1.3em;
}

.ulist p.comments-section {
	margin-bottom: .7em;
	line-height: 1.3em;
}

table.tableblock > tbody > tr > td:first-child {
	font-weight: bold;
}

p.tableblock {
	margin-bottom: 0px;
}

p.tableblock code {
	font-size: 1em;
	background-color: transparent;
}

div.content pre {
    padding-left: 2em;
    font-size: .9em;
}

.paragraph {
	font-size: .9em;
}

.book .book-body .page-wrapper .page-inner .comments-section .admonitionblock.note .paragraph {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}